<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
</head>
<body>
<div class="container">
    <div class="row">
        <h1> [[${offer.title}]]</h1>
    </div>
    <div class="row">
        <div class="offer">
            <p th:text="'Leírás: ' + ${offer.description}"></p>
            <p th:text="'Ár: ' + ${offer.price}"></p>
            <div th:each="url: ${offer.url}" class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card">
                    <img class="card-img-top" th:src="${url.url}" alt=""/>
                    <div class="card-body">
                        <p> gombok helye </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>