<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="header ::head">
</head>
<body>
<div class="container">
    <input type="text" placeholder="Cím" id="title" name="title"/>
    <input type="text" placeholder="Leírás" id="description" name="description"/>
    <input type="text" placeholder="Ár" id="price" name="price"/>
    <textarea placeholder="Képek (Ctrl C - Ctr V)" name="images" id="images"></textarea>
    <button id="button" value="Submit" type="button"></button>
</div>

</body>
</html>